/**
 * JavaFX App, created by Rangel Santos
 */

/*App style*/
.backgroundMain{
    -fx-background-color: #1f1f1f;
}

#close{
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
#close:hover{
    -fx-background-color: #c51927;
    -fx-border-color: #c51927;
}