/**
 * JavaFX App, created by Rangel Santos
 */

/*App style*/
.backgroundMain{
    -fx-background-color: #1f1f1f;
}

#minimize{
    -fx-background-position: center;
    -fx-padding: 0px;
}

#close{
    -fx-background-position: center;
    -fx-padding: 0px;
}

#close:hover{
    -fx-background-color: #c51927;
    -fx-border-color: #c51927;
}

#btnHelp{
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-background-position: center;
    -fx-padding: 0px;
}

#btnHelp:hover{
    -fx-background-color: #61a2da;
    -fx-border-color: #61a2da;
}