.backgroundMain{
    -fx-background-color: #1f1f1f;
}
.errorDialog{
    -fx-background-color: #61a2da;
}
.errorDialog > *.button-bar > *.container{
    -fx-background-color: #61a2da;
}
.errorDialog > *.label.content{
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}
.errorDialog:header *.header-panel{
    -fx-background-color: #61a2da;
}
.errorDialog:header *.header-panel *.label{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}
.errorDialog .button{
    -fx-font-weight: bold;
    -fx-background-color: #333333;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-border-color: #333333;
    -fx-border-radius: 0;
    -fx-border-width: 2;
}
.errorDialog .button:hover{
    -fx-border-color: #858585;
}